CONFIG_SIGNED_IMAGES=y
CONFIG_SIGALG_CMS=y
# CONFIG_SIGALG_RAWRSA is not set
# CONFIG_SIGALG_RSAPSS is not set
# CONFIG_SIGALG_GPG is not set
CONFIG_CMS_IGNORE_CERTIFICATE_PURPOSE=y
CONFIG_CMS_IGNORE_EXPIRED_CERTIFICATE=y
