[Unit]
Description=OTA Boot Confirmation
After=local-fs.target sensornode-ui.service
ConditionPathExists=/usr/bin/fw_setenv

[Service]
Type=simple
ExecStart=/usr/bin/ota-confirm-boot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
